<ion-header>
  <ion-toolbar>
    <ion-title>
      Carga de Credito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <!-- <div class=""> -->
    <h2>Credito</h2>

    <div *ngIf="scannedData">
      <p>Scanned Code Text : <b>{{ scannedData["text"] }}</b></p>
      <p>Scanned Code Format : <b>{{ scannedData["format"] }}</b></p>
      <p>SALDO : <b>{{ saldoVisible }}</b></p>
    </div>
  <!--
    <h2>Enter Value to Create QR code</h2>
    <ion-input type="text" [(ngModel)]="encodedData"></ion-input> -->
    <!-- <ion-button (click)="encodedText()"> Create QR </ion-button> -->

      <ion-button  expand="block" (click)="scanCode()">Escanear QR</ion-button>

  <!-- </div> -->
</ion-content>
