<ion-header>
  <ion-toolbar>
    <ion-title>
      Carga de Credito
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div id="contenedor">
      <div class="" align="center">
          <h3>Saldo</h3>
      </div>
      <div class="" *ngIf="scannedData" >
        <p>Scanned Code Text : <b>{{ scannedData["text"] }}</b></p>
      </div>
    </div>
      <ion-card>
        <ion-card-content  class="saldo">
            ${{ saldoVisible }}
        </ion-card-content>
      </ion-card>
      <ion-button  expand="block" (click)="scanCode()">Escanear QR</ion-button>

</ion-content>
