.item {
    // border: solid #000000;
    border-radius: 4px;
    border-width: 1.5px;
    padding: 0 !important;
    margin-bottom: 8px;
    color:#484848;
}

// .button{
//   margin-top: 20px;
// }

ion-input {
  &.custom-input {
    font-size: 0.8em; //sets text font size
    ::placeholder {
      font-size: 0.8em; //sets placeholder font size
    }
  }
}

ion-spinner {
  stroke: #ff0000;
  fill: #8b0000;
  position: fixed;
  z-index: 999;
  height: 5em;
  width: em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
