<ion-content color="dark" padding>
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="light" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading" >
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="dark" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="4" size-xs="14">
          <div text-center>
            <h3>Bienvenido</h3>
          </div>
          <div padding >
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input class="custom-input" name="email" type="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input class="custom-input" name="password" type="password" [(ngModel)]="password"
               required></ion-input>
            </ion-item>
          </div>

          <div padding >
            <ion-button color="light" expand="full" shape="round" fill="outline" type="submit" [disabled]="form.invalid">Ingresar</ion-button>
          </div>

          <div >
            <ion-button (click)="cargarUsuario('admin');" color="light" expand="full" shape="round" fill="outline" type="button" >Admin</ion-button>
          </div>
          <div  >
            <ion-button (click)="cargarUsuario('invitado');" color="light" expand="full" shape="round" fill="outline" type="button" >Invitado</ion-button>
          </div>
          <div  >
            <ion-button (click)="cargarUsuario('usuario');" color="light" expand="full" shape="round" fill="outline" type="button" >Usuario</ion-button>
          </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
